/* Desktop - 1 */

position: relative;
width: 1440px;
height: 1024px;

background: #374655;


/* Rectangle 2 */

position: absolute;
width: 858px;
height: 268px;
left: 0px;
top: 754px;

background: #D9D9D9;


/* Rectangle 5 */

position: absolute;
width: 858px;
height: 268px;
left: 0px;
top: 754px;

background: #D9D9D9;


/* Go to places you’ve never been */

position: absolute;
width: 365px;
height: 73px;
left: 247px;
top: 510px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 32px;
line-height: 39px;
text-align: center;
letter-spacing: -0.03em;

color: rgba(237, 237, 237, 0.85);



/* image 1 */

position: absolute;
width: 969px;
height: 1024px;
left: 858px;
top: -2px;

background: url(image.png);
border-radius: 40px;


/* Rectangle 1 */

position: absolute;
width: 372px;
height: 129px;
left: 243px;
top: 338px;

background: rgba(209, 151, 88, 0.58);
border-radius: 18px;


/* BIKE SAFE */

position: absolute;
width: 275px;
height: 63px;
left: 298px;
top: 371px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 59px;

color: rgba(67, 50, 50, 0.99);



/* Professional Bike Repair & Tune-Ups - Appointment only */

position: absolute;
width: 729px;
height: 108px;
left: 65px;
top: 117px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 88.52%;
/* or 35px */
text-align: center;
letter-spacing: -0.035em;

color: #D19758;



/* Line 1 */

position: absolute;
width: 266.01px;
height: 0px;
left: 444px;
top: 758px;

border: 1px solid #000000;
transform: rotate(90.43deg);


/* Rectangle 3 */

position: absolute;
width: 233px;
height: 103px;
left: 109px;
top: 839px;

background: #374655;


/* Rectangle 4 */

position: absolute;
width: 233px;
height: 103px;
left: 535px;
top: 835px;

background: #374655;


/* About us */

position: absolute;
width: 135px;
height: 37px;
left: 158px;
top: 868px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
/* identical to box height */
text-align: center;
letter-spacing: -0.035em;

color: #FEDFBD;



/* Book Appointment */

position: absolute;
width: 222px;
height: 60px;
left: 546px;
top: 845px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
text-align: center;
letter-spacing: -0.035em;

color: #FEDFBD;

